body {
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);   
}

nav {
    font-family: 'Luckiest Guy', cursive;
}

#menuDl {
    color: black;
}

#wikiText {
    margin: 2%;
    font-size: 125%;
}

#vid-view {
    /* margin-bottom: 8%; */
}

#vid-input {
    color: white;
}

#search-area {
    width: 30%;
    margin-top: 400px;
    margin-bottom: 20%;
}

.wiki-results {
    width: 30%;
    position: fixed;
    bottom: 20%;
    right: 10%;
    z-index: -100;
    
}

.vid-results {
    width: 70%;
    margin-left: 2%;
}

.parallax-container {
    height: 100%;
}

.search-height {
    height: 100%;;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    padding: 1.3%;
    font-family: 'Luckiest Guy', cursive;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
 }

 body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    z-index: 100;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
